.navbar {
  padding: 20px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar.visible {
  transform: translateY(0);
}

.navbar .logo {
  width: 150px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon img {
  width: 30px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: rgb(76, 85, 85);
  font-size: 18px;
  justify-content: center;
  flex-grow: 1;
}

.navbar-menu li {
  padding: 4px 0px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  font-family: inherit;
  font-size: 18px;
  color: rgb(53, 168, 168);
  text-decoration: none;
}

.navbar-menu li:hover {
  color: rgb(168, 70, 53);
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar button {
  background-color: orangered;
  border: 1px solid #e96733;
  color: white;
  box-shadow: 1px 1px 2px #33e9b2;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 16px;
  transition: all 1s ease;
}

.navbar button:hover {
  background-color: white;
  color: orangered;
  box-shadow: 2px 2px 2px orangered;
  transform: scale(1.05);
  padding: 7px 12px;
  font-size: 14px;
  border: 1px solid #33e9b2;
  transition: all 1s ease;
}

.navbar button:active {
  background-color: #ff5d1e;
  transform: scale(0.95);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.navbar button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(150, 0, 92, 0.5);
}

.navbar .active {
  padding: 2px 0px 0px 0px;
  border-bottom: 1px solid orangered;
  transition: all 0.5s ease;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  top: -8px;
  right: -8px;
  min-width: 10px;
  min-height: 10px;
  background-color: rgb(240, 17, 17);
  border-radius: 50%;
  transition: all 2s ease;
}

.navbar-search-icon:hover .dot {
  background-color: rgb(17, 240, 110);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    align-items: center;
  }

  .navbar-menu.open {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .navbar-right {
    display: none;
  }
}

.navbar-menu.open .navbar-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0;
  align-items: center;
}
